/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: "Inter-Variable", "Roboto", Arial, sans-serif;
  --font-accent: "PressStart2P-Regular", monospace;

  --font-weight-text: 410;
  --font-weight-title: 715;
}
